/* The class names and style declarations below were added to help you get started.
If you would prefer, you can delete them and use your own classes and style declarations. */

:root {
  --lightorange: rgba(255, 165, 0, 0.1);
}

.table-heading {
  /* use the custom properties green and white for the colors - these colors are defined in the styles.css file */
}

.channel {
  /* use the custom properties orange and black for the colors - these colors are defined in the styles.css file */
}
