#loading {
  width: 80px;
  height: 80px;
}

.figure {
  border: 0.5rem solid var(--white);
}

.figure:hover {
  border: 0.5rem solid var(--purple);
  background-color: var(--purple);
  color: var(--white);
}
